:root{
    --color-1: #FFFFFF
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(../../storage/font/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(../../storage/font/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../../storage/font/Poppins/Poppins-SemiBold.ttf);
}
