<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/page6/style.css">
</head>
<body>
    <main>
        <section class="sec__left">
            <article class="art__left">
                <div class="clock-left">
                    <img src="../storage/img/page6/reloj-circulito esquina.svg" alt="">
                    <svg viewBox="0 0 100 100">
                        <path id="circlePath" fill="none" d="M50,10 A40,40 0 1,1 49.99,10"/>
                        <text>
                            <textPath href="#circlePath" startOffset="50%" text-anchor="middle">
                                Lorem ipsum dolor sit amet, consectetur
                            </textPath>
                        </text>
                    </svg>
                </div>
                <h1>THE eWatch with the newest microchip technology</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
                <div class="buttons">
                    <a href="#">Order now</a>
                    <a href="#">Explore more</a>
                </div>
            </article>
            <article class="art__bot">
                <div>
                    <img src="../storage/img/page6/sol-icon.svg" alt="">
                    <p>Lorem ipsu dolor amet</p>
                </div>
                <div>
                    <img src="../storage/img/page6/start-icon.svg" alt="">
                    <p>Lorem ipsu dolor amet</p>
                </div>
                <div>
                    <img src="../storage/img/page6/ojo-icon.svg" alt="">
                    <p>Lorem ipsu dolor amet</p>
                </div>
                <div>
                    <img src="../storage/img/page6/mundo-icon.svg" alt="">
                    <p>Lorem ipsu dolor amet</p>
                </div>
            </article>
        </section>
        <section class="sec__right">
            <img class="star-out" src="../storage/img/page6/Star-outside left.svg" alt="">
            <img class="star-4" src="../storage/img/page6/Star-left inside.svg" alt="">
            <img class="starM-4" src="../storage/img/page6/star.svg" alt="">
            <img class="clock" src="../storage/img/page6/reloj.svg" alt="">
            <img class="box-down" src="../storage/img/page6/cuadro-abajo.svg" alt="">
            <img class="box-up" src="../storage/img/page6/cuadro-arriba.svg" alt="">
            <a class="a-top" href="">Award winning product</a>
            <a class="a-bot" href="#">Ergonomic design</a>
        </section>
    </main>
</body>
</html>