<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/page8/style.css">
</head>
<body>
    <main>
        <section>
            <article class="art__left">
                <img src="../storage/img/page8/Ellipse.svg" alt="">
                <img src="../storage/img/page8/puntos-arriba.svg" alt="">
                <img src="../storage/img/page8/puntos-abajo.svg" alt="">
                <img src="../storage/img/page8/negro.svg" alt="">
            </article>
            <article class="art__right">
                <h1>Take your designs to the next level</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu.</p>
                <a href="#">Explore</a>
            </article>
        </section>
        
    </main>  
</body>
</html>