<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/page13/style.css">
</head>
<body>
    <main>
        <section>
            <article class="left">
                <div>
                    <h3>01</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus.</p>
                </div>
                <img src="../storage/img/page13/Image bottom.svg" alt="">
                <img class="explosion" src="../storage/img/page13/Explosion.svg" alt="">
            </article>
            <article class="mid">
                <div class="middle">
                    <div class="spans">
                        <h1>Create</h1>
                        <h1>your</h1>
                        <h1>design</h1>
                    </div>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. </p>
                    <a href="#">Explore</a>
                </div>
            </article>
            <article class="right">
                <img src="../storage/img/page13/Image top.svg" alt="">
                <div>
                    <h3>02</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus.</p>
                </div>
                <img class="party" src="../storage/img/page13/Party.svg" alt="">
            </article>
            <img class="star-left" src="../storage/img/page13/star-left.svg" alt="">
            <img class="star-right" src="../storage/img/page13/Star-right.svg" alt="">
        </section>
    </main>
</body>
</html>