<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/page7/style.css">
</head>
<body>
    <main>
        <h1>Design is the way how you express the feelings</h1>
        <section>
            <article>
                <h3>01</h3>
                <div>
                    <img src="../storage/img/page7/1.svg" alt="">
                    <h4>Title</h4>
                    <p class="uno">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus</p>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </article>
            <article>
                <h3>02</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div>
                    <img src="../storage/img/page7/2.svg" alt="">
                    <h4>Title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus</p>
                </div>
            </article>
            <article>
                <h3>03</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <img src="../storage/img/page7/3.svg" alt="">
            </article>
            <article>
                <h3>04</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div>
                    <img src="../storage/img/page7/4.svg" alt="">
                    <h4>Title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus</p>
                </div>
            </article>
        </section>
    </main>
</body>
</html>