<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/page2/style.css">
</head>
<body>
    <main>
        <section class="sect__top">
            <article>
                <h1>Discover the beauty around the world</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu.</p>
                <a href="#">Get started</a>
            </article>
            <img src="../storage/img/page2/Image left.svg" alt="">
            <img src="../storage/img/page2/Image right.svg" alt="">
        </section>  
        <section class="sect__bot">
            <div class="img1">
                <h3>01</h3>
                <img src="../storage/img/page2/1.svg" alt="">
            </div>
            <div class="img2">
                <h3>02</h3>
                <img src="../storage/img/page2/2.svg" alt="">
            </div>
            <div class="img3">
                <h3>03</h3>
                <img src="../storage/img/page2/3.svg" alt="">
            </div>
        </section>
    </main>
</body>
</html>