<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/page4/style.css">
</head>
<body>
    <main>
        <img src="../storage/img/page4/Image.svg" alt="">
        <section>
            <article class="art__top">
                <h1>Explration and inspiration</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
                <a href="#">Explore</a>
            </article>
            <article class="art__bot">
                <div>
                    <h3>01</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
                </div>
                <div>
                    <h3>02</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
                </div>
                
            </article>
        </section>
    </main>
</body>
</html>