<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/page15/style.css">
    <title>Document</title>
</head>
<body>
    <main>
        <section>
            <article>
                <div class="upp">
                    <h1>Adventure Voyage Wandering</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi. </p>
                    <a href="">Get started</a>
                </div>
                <div class="downn">
                    <img src="../storage/img/page15/verde-down.svg" alt="">
                    <img src="../storage/img/page15/blanco-down.svg" alt="">
                </div>
            </article>
            <article>
                <img src="../storage/img/page15/centro.svg" alt="">
            </article>
            <article>
                <div class="imgTop">
                    <img src="../storage/img/page15/blanco-up.svg" alt="">
                    <img src="../storage/img/page15/verde-up.svg" alt="">
                </div>
                <div class="textBot">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi </p>
                    <h2>Trave <br>Explore <br>Discover</h2>
                </div>
            </article>
            <img class="starup" src="../storage/img/page15/Star arriba.svg" alt="">
            <img class="stardown" src="../storage/img/page15/Star down.svg" alt="">
        </section>
    </main>
</body>
</html>