<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/page12/style.css">
</head>
<body>
    <main>
        <section>
            <article class="text-left">
                <h1>Discover. <br>Explore. <br>Inspire.</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
                <a href="#">Explore</a>
            </article>
            <article class="text-bot">
                <img src="../storage/img/page12/perfil-img.svg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
            </article>
            <img class="waves" src="../storage/img/page12/waves.svg" alt="">
            <img class="blues" src="../storage/img/page12/azul-img.svg" alt="">
            <img class="center" src="../storage/img/page12/centro-img.svg" alt="">
            <img class="down" src="../storage/img/page12/down-img.svg" alt="">
            <img class="star-mid" src="../storage/img/page12/start-centro.svg" alt="">
            <img class="star-right" src="../storage/img/page12/start-derecha.svg" alt="">

        </section>
    </main>
</body>
</html>