<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/page5/style.css">
</head>
<body>
    <main>
        <h1>Projects and practice</h1>
        <section>
            <article>
                <h2>01</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
                <img src="../storage/img/page5/1.svg" alt="Imagen 1">
            </article>
            <article>
                <h2>02</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
                <img src="../storage/img/page5/2.svg" alt="Imagen 2">
            </article>
            <article>
                <h2>02</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
                <img src="../storage/img/page5/3.svg" alt="Imagen 2">
            </article>
        </section>
    </main>
</body>
</html>