<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/page9/style.css">
</head>
<body>
    <main>
        <section>
            <article class="text">
                <h1>Interior design</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
                <a href="#">Explore</a>
            </article>
            <img src="../storage/img/page9/Image left.svg" alt="">
            <img src="../storage/img/page9/Image right.svg" alt="">
            <article class="capsule">
                <div>
                    <h3>5.8</h3>
                    <h3>___</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. </p>
                </div>
                <div>
                    <h3>99+</h3>
                    <h3>___</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. </p>
                </div>
                <div>
                    <h3>110K</h3>
                    <h3>___</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. </p>
                </div>
            </article>
        </section>
    </main>
</body>
</html>