<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/page11/style.css">
</head>
<body>
    <main>
        <section class="sect__top">
            <article class="text">
                <h1>New designs<br> New inspirations</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
                <a href="#">Explore</a>
            </article>
            <article class="imgs">
                <img src="../storage/img/page11/black.svg" alt="">
                <img src="../storage/img/page11/white.svg" alt="">
            </article>
        </section>
        <section class="sect__bot">
            <div>
                <img src="../storage/img/page11/Cloud.svg" alt="">
                <h3>Title 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div>
                <img src="../storage/img/page11/Cloud.svg" alt="">
                <h3>Title 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div>
                <img src="../storage/img/page11/Cloud.svg" alt="">
                <h3>Title 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </section>
    </main>
</body>
</html>