<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/page10/style.css">
</head>
<body>
    <main>
        <section>
            <article class="text">
                <p class="spans">
                    <span class="red">Design.</span>
                    <span class="blue">Create.</span>
                    <span class="green">Inspire.</span>
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.
                </p>
                <a href="#">Explore</a>
            </article>
            <article class="imgs">
                <img src="../storage/img/page10/1.svg" alt="">
                <img src="../storage/img/page10/2.svg" alt="">
                <img src="../storage/img/page10/3.svg" alt="">
                <img src="../storage/img/page10/4.svg" alt="">
                <img src="../storage/img/page10/5.svg" alt="">
                <img src="../storage/img/page10/6.svg" alt="">
                <img src="../storage/img/page10/7.svg" alt="">
                <img src="../storage/img/page10/8.svg" alt="">
                <img src="../storage/img/page10/9.svg" alt="">
                <img src="../storage/img/page10/10.svg" alt="">
                <img src="../storage/img/page10/11.svg" alt="">
                <img src="../storage/img/page10/12.svg" alt="">
                <img src="../storage/img/page10/13.svg" alt="">
                <img src="../storage/img/page10/14.svg" alt="">
                <img src="../storage/img/page10/15.svg" alt="">
                <img src="../storage/img/page10/16.svg" alt="">
            </article>
        </section>
    </main>
</body>
</html>