<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/page14/style.css">
</head>
<body>
    <main>
        <section>
            <article class="text">
                <div class="upper">
                    <h1>Listen to yourself Follow your heart</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
                    <a href="#">Download the App</a>
                </div>
                <div class="down">
                    <div>
                        <h3>4.9</h3>
                        <h5>___</h5>
                        <p>Lorem ipsum dolor amet</p>
                    </div>
                    <div>
                        <h3>876K</h3>
                        <h5>___</h5>
                        <p>Lorem ipsum dolor amet</p>
                    </div>
                    <div>
                        <h3>No.1</h3>
                        <h5>___</h5>
                        <p>Lorem ipsum dolor amet</p>
                    </div>
                </div>
            </article>
            <article class="imgs">
                <img src="../storage/img/page14/Bg brown.svg" alt="">
                <img src="../storage/img/page14/estrella-fondo brown.svg" alt="">
                <img src="../storage/img/page14/bg yellow.svg" alt="">
                <img src="../storage/img/page14/Heart.svg" alt="">
                <img src="../storage/img/page14/estrella-fondo yellow.svg" alt="">
                <img class="celu" src="../storage/img/page14/celu.svg" alt="">
                <img src="../storage/img/page14/Star-black-arriba.svg" alt="">
                <img src="../storage/img/page14/Star-yellow.svg" alt="">
            </article>
        </section>
    </main>
</body>
</html>