<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/page1/style.css">
</head>
<body>
    <main>
        <h1>Discover the beauty <br>around the world</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
        <a href="#">Explore</a>
        <section>
            <img src="../storage/img/page1/Rectangle 3.svg" alt="">
            <img src="../storage/img/page1/Rectangle 4.svg" alt="">
            <img src="../storage/img/page1/Rectangle 4 (1).svg" alt="">
            <img src="../storage/img/page1/Rectangle 3 (1).svg" alt="">
            <img src="../storage/img/page1/Rectangle 3 (2).svg" alt="">
            <img src="../storage/img/page1/Rectangle 4 (2).svg" alt="">
            <img src="../storage/img/page1/3.svg" alt="">
            <img src="../storage/img/page1/4.svg" alt="">
        </section>
    </main>
</body>
</html>