:root{
    --color-1: #FFFFFF
}

@font-face {
    font-family: "WorkSans-Bold";
    src: url(../../storage/font/Work_Sans/WorkSans-Bold.ttf);
}

@font-face {
    font-family: "WorkSans-Light";
    src: url(../../storage/font/Work_Sans/WorkSans-Light.ttf);
}

@font-face {
    font-family: "WorkSans-Medium";
    src: url(../../storage/font/Work_Sans/WorkSans-Medium.ttf);
}